@media screen and (min-width: 320px) {
  .home-open {
    background: -webkit-gradient(linear, right top, left top, color-stop(40%, var(--overlay-bg-color)), to(var(--overlay-bg-color))), url(".././images/header-images/tablet/header-home-tablet1x.jpg");
    background: linear-gradient(to left, var(--overlay-bg-color) 40%, var(--overlay-bg-color) 100%), url(".././images/header-images/tablet/header-home-tablet1x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .home-open {
    background: -webkit-gradient(linear, right top, left top, color-stop(40%, var(--overlay-bg-color)), to(var(--overlay-bg-color))), url(".././images/header-images/desktop/header-home-desktop1x.jpg");
    background: linear-gradient(to left, var(--overlay-bg-color) 40%, var(--overlay-bg-color) 100%), url(".././images/header-images/desktop/header-home-desktop1x.jpg");
  }
}

@media screen and (min-width: 1024px) {
  .home-open {
    background: -webkit-gradient(linear, right top, left top, color-stop(40%, var(--overlay-bg-color)), to(var(--overlay-bg-color))), url(".././images/header-images/desktop/header-home-desktop1x.jpg");
    background: linear-gradient(to left, var(--overlay-bg-color) 40%, var(--overlay-bg-color) 100%), url(".././images/header-images/desktop/header-home-desktop1x.jpg");
  }
}

.header__cover {
  position: relative;
}

@media screen and (min-width: 320px) {
  .header__cover {
    padding: 46px 21px 33px;
  }
}

@media screen and (min-width: 768px) {
  .header__cover {
    padding: 41px 71px 59px;
  }
}

.header__list-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (min-width: 320px) {
  .header__list-cover {
    padding-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .header__list-cover {
    padding-top: 20px;
  }
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  fill: var(--thirty-text-color);
  color: var(--secondary-text-color);
  -webkit-transition: var(--primary-animation);
  transition: var(--primary-animation);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
}

.logo__link:hover, .logo__link:focus {
  fill: var(--hover-accent-bg-color);
  color: var(--hover-accent-bg-color);
}

.logo__text {
  font-size: 30px;
  line-height: 35px;
}

@media screen and (min-width: 320px) {
  .logo__text {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .logo__text {
    display: block;
    margin-left: 10px;
  }
}

@media screen and (min-width: 320px) {
  .home__block {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .home__block {
    margin-top: 0;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  margin-left: auto;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav__item + .nav__item {
  margin-left: 15px;
}

.first::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  margin-right: 10px;
  background-color: var(--hover-accent-bg-color);
  margin-left: 5px;
  margin-right: 5px;
}

.nav__btn {
  padding: 0;
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  position: relative;
  -webkit-transition: var(--primary-animation);
  transition: var(--primary-animation);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-transition-property: color;
  transition-property: color;
}

.nav__btn:hover, .nav__btn:focus {
  color: var(--hover-accent-bg-color);
  cursor: pointer;
}

.nav__btn.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--hover-accent-bg-color);
}

.reg__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  margin-left: 20px;
  position: relative;
}

.reg__item + .reg__item {
  margin-left: 10px;
}

.reg__btn {
  padding: 2px 5px;
  border: 1px solid var(--hover-accent-bg-color);
  color: var(--hover-accent-bg-color);
  -webkit-transition: var(--primary-animation) 0.25s box-shadow, background-color, border-radius;
  transition: var(--primary-animation) 0.25s box-shadow, background-color, border-radius;
}

.reg__btn:hover, .reg__btn:focus {
  color: var(--secondary-text-color);
  -webkit-box-shadow: 0 0 35px var(--hover-accent-bg-color);
          box-shadow: 0 0 35px var(--hover-accent-bg-color);
  background-color: var(--hover-accent-bg-color);
  border-radius: 3px;
}

.user__name {
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  right: 0;
  bottom: 190%;
}

.inp_lab {
  max-width: 336px;
  position: relative;
  margin: 34px auto 22px;
}

.searching__input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--primary-font-size);
  line-height: 16.41px;
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  outline: transparent;
  border-bottom-color: var(--secondary-text-color);
  color: var(--secondary-text-color);
}

.searching__input:focus {
  border-bottom-color: var(--hover-accent-bg-color);
}

@media screen and (min-width: 320px) {
  .searching__input {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .searching__input {
    width: 336px;
  }
}

.searching__button {
  border: transparent;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 0%;
  right: 5px;
  fill: var(--secondary-text-color);
  -webkit-transition: var(--primary-animation);
  transition: var(--primary-animation);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.searching__button:hover, .searching__button:focus {
  cursor: pointer;
  fill: var(--hover-accent-bg-color);
}

.searching__error__text {
  color: var(--error-color);
  font-size: var(--primary-font-size);
  line-height: 16.41px;
}

@media screen and (min-width: 320px) {
  .searching__error__text {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .searching__error__text {
    text-align: center;
  }
}

@media screen and (min-width: 320px) {
  .cabinet-open {
    background: -webkit-gradient(linear, right top, left top, color-stop(40%, var(--overlay-bg-color)), to(var(--overlay-bg-color))), url(".././images/header-images/tablet/header-cab-tablet1x.jpg");
    background: linear-gradient(to left, var(--overlay-bg-color) 40%, var(--overlay-bg-color) 100%), url(".././images/header-images/tablet/header-cab-tablet1x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .cabinet-open {
    background: -webkit-gradient(linear, right top, left top, color-stop(40%, var(--overlay-bg-color)), to(var(--overlay-bg-color))), url(".././images/header-images/desktop/header-cab-desktop1x.jpg");
    background: linear-gradient(to left, var(--overlay-bg-color) 40%, var(--overlay-bg-color) 100%), url(".././images/header-images/desktop/header-cab-desktop1x.jpg");
  }
}

.library__btn__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 45px auto 5px;
}

@media screen and (min-width: 320px) {
  .library__btn__list {
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .library__btn__list {
    padding-bottom: 10px;
  }
}

.library__btn__item:nth-child(2) {
  margin-left: 15px;
}

.library__btn {
  width: 136px;
  height: 44px;
  border: 1px solid var(--secondary-text-color);
  background-color: transparent;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  -webkit-transition: var(--primary-animation);
  transition: var(--primary-animation);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
}

.library__btn:hover, .library__btn:focus {
  cursor: pointer;
  background-color: var(--hover-accent-bg-color);
  -webkit-box-shadow: 0px 0px 43px var(--hover-accent-bg-color);
          box-shadow: 0px 0px 43px var(--hover-accent-bg-color);
}

.is-none {
  display: none;
}

.is-visible {
  opacity: 0;
  pointer-events: none;
}

#myBtn {
  width: 50px;
  height: 50px;
  display: none;
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 99;
  line-height: 15px;
  border: none;
  outline: none;
  background-color: rgba(49, 49, 49, 0.6);
  color: var(--accent-text-color);
  cursor: pointer;
  padding: 11px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: var(--accent-text-color);
  color: var(--secondary-text-color);
  -webkit-transition: var(--primary-animation);
  transition: var(--primary-animation);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
}

@media screen and (min-width: 320px) {
  #myBtn {
    bottom: 100px;
    right: 10px;
  }
}

@media screen and (min-width: 1040px) {
  #myBtn {
    bottom: 20px;
    right: 30px;
  }
}

.myBtn-svg_arrow {
  height: 10px;
  width: 10px;
  fill: var(--secondary-text-color);
}

.footer__cover {
  background-color: var(--secondary-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 320px) {
  .footer__cover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 568px) {
  .footer__cover {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.copyright__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: normal;
  color: var(--thirty-text-color);
}

@media screen and (min-width: var(--mobile)) {
  .copyright__list {
    font-size: var(--primary-font-size);
    line-height: var(--secondary-font-size);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10px;
  }
}

@media screen and (min-width: var(--tablet)) {
  .copyright__list {
    font-size: var(--secondary-font-size);
    line-height: 19px;
    padding-top: 0;
  }
}

.copyright__item {
  position: relative;
  margin-right: 8px;
}

.copyright__item::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: var(--thirty-text-color);
  margin-left: 4px;
}

.dev__icon {
  -webkit-animation: heart linear 1s infinite;
          animation: heart linear 1s infinite;
}

@-webkit-keyframes heart {
  0% {
    fill: red;
  }
  20% {
    fill: orange;
  }
  40% {
    fill: yellow;
  }
  60% {
    fill: green;
  }
  75% {
    fill: blue;
  }
  90% {
    fill: purple;
  }
}

@keyframes heart {
  0% {
    fill: red;
  }
  20% {
    fill: orange;
  }
  40% {
    fill: yellow;
  }
  60% {
    fill: green;
  }
  75% {
    fill: blue;
  }
  90% {
    fill: purple;
  }
}

@media screen and (min-width: 320px) {
  .dev-text__cover {
    margin-top: 10px;
  }
}

@media screen and (min-width: 568px) {
  .dev-text__cover {
    margin-top: 0;
  }
}

.dev_backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--team-back);
  z-index: 999;
}

.dev_content {
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  height: auto;
  border: 1px solid var(--orange-color);
  -webkit-animation: linear 1s dev_shadow infinite;
          animation: linear 1s dev_shadow infinite;
}

@-webkit-keyframes dev_shadow {
  0% {
    -webkit-box-shadow: 4px 4px 8px var(--hover-accent-bg-color);
            box-shadow: 4px 4px 8px var(--hover-accent-bg-color);
  }
  33% {
    -webkit-box-shadow: 4px -4px 8px var(--hover-accent-bg-color);
            box-shadow: 4px -4px 8px var(--hover-accent-bg-color);
  }
  66% {
    -webkit-box-shadow: -4px -4px 8px var(--hover-accent-bg-color);
            box-shadow: -4px -4px 8px var(--hover-accent-bg-color);
  }
  99% {
    -webkit-box-shadow: -4px 4px 8px var(--hover-accent-bg-color);
            box-shadow: -4px 4px 8px var(--hover-accent-bg-color);
  }
}

@keyframes dev_shadow {
  0% {
    -webkit-box-shadow: 4px 4px 8px var(--hover-accent-bg-color);
            box-shadow: 4px 4px 8px var(--hover-accent-bg-color);
  }
  33% {
    -webkit-box-shadow: 4px -4px 8px var(--hover-accent-bg-color);
            box-shadow: 4px -4px 8px var(--hover-accent-bg-color);
  }
  66% {
    -webkit-box-shadow: -4px -4px 8px var(--hover-accent-bg-color);
            box-shadow: -4px -4px 8px var(--hover-accent-bg-color);
  }
  99% {
    -webkit-box-shadow: -4px 4px 8px var(--hover-accent-bg-color);
            box-shadow: -4px 4px 8px var(--hover-accent-bg-color);
  }
}

.dev_pic {
  -webkit-box-shadow: 2px 2px 3px var(--primary-text-color);
          box-shadow: 2px 2px 3px var(--primary-text-color);
}

@media screen and (min-width: 320px) {
  .dev_pic {
    max-width: 400px;
  }
}

@media screen and (min-width: 568px) {
  .dev_pic {
    max-width: 280px;
    max-height: 340px;
  }
}

.dev_text_title {
  text-align: center;
  margin: 5px auto;
}

.dev_social_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dev_social_item + .dev_social_item {
  margin-left: 10px;
}

.dev_social_icon {
  width: 24px;
  height: 24px;
  fill: var(--team-block);
  -webkit-transition: all linear .25s;
  transition: all linear .25s;
}

.dev_social_icon:hover {
  fill: var(--accent-bg-color);
}

.close_dev_btn {
  position: absolute;
  right: 0;
  top: -30px;
  border: none;
  background-color: white;
}

.close_dev_btn:hover {
  cursor: pointer;
}

.main {
  min-height: calc(100vh - 330px);
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .main {
    min-height: calc(100vh - 307px);
  }
}

@media screen and (min-width: 320px) {
  .main {
    padding-top: 0;
  }
}

.gallery__list {
  margin: 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 150ms linear;
  transition: -webkit-transform 150ms linear;
  transition: transform 150ms linear;
  transition: transform 150ms linear, -webkit-transform 150ms linear;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__list:hover {
  cursor: pointer;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.gallery__image {
  width: 280px;
  height: 398px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.gallery__title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  margin-bottom: 5px;
  text-transform: uppercase;
  width: 280px;
}

.gallery__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  color: var(--orange-color);
  width: 280px;
}

.gallery__rating {
  display: inline-block;
  text-align: center;
  width: 36px;
  margin-left: 10px;
  color: #fff;
  background-color: var(--orange-color);
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .main {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .gallery__list {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  .gallery__image,
  .gallery__text,
  .gallery__title {
    width: 294px;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .gallery__list {
    margin: 15px;
    width: calc((100% - 3 * 30px) / 3);
  }
  .gallery__image,
  .gallery__text,
  .gallery__title {
    width: 274px;
  }
}

/*----modal Login-------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--overlay-bg-color);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .popup {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.popup {
  width: 300px;
  height: 500px;
  padding: 20px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: var(--primary-bg-color);
  -webkit-box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  opacity: 1;
  -webkit-transition: opasity 250ms var(--primary-animation), -webkit-transform 250ms var(--primary-animation);
  transition: opasity 250ms var(--primary-animation), -webkit-transform 250ms var(--primary-animation);
  transition: transform 250ms var(--primary-animation), opasity 250ms var(--primary-animation);
  transition: transform 250ms var(--primary-animation), opasity 250ms var(--primary-animation), -webkit-transform 250ms var(--primary-animation);
}

.btn__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn__close:hover svg {
  fill: var(--accent-bg-color);
}

/*------form of modal------*/
.modal-login__form {
  display: none;
}

.modal-login__form.active {
  display: block;
}

.modal-signup__form {
  display: none;
}

.modal-signup__form.active {
  display: block;
}

.form__title {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--primary-text-color);
}

@media screen and (max-width: 350px) {
  .form__title {
    font-size: 16px;
  }
}

.form__element {
  margin: 15px 0px;
}

.form__element.message .error {
  color: var(--warning-text-color);
  font-weight: 500;
}

.form__element.message .success {
  color: #008031;
  font-weight: 500;
}

.modal-login__form .form__element:last-child {
  margin-top: 60px;
}

.form__label {
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-text-color);
}

.form__input {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.btn__submit {
  display: block;
  margin: 30px auto 30px;
  width: 136px;
  height: 44px;
  border: none;
  outline: none;
  font-size: 12px;
  background-color: var(--accent-bg-color);
  color: var(--secondary-text-color);
  border-radius: 5px;
  cursor: pointer;
}

.btn__submit:hover {
  background-color: var(--hover-accent-bg-color);
  opacity: 0.8;
}

.form__element a {
  margin-bottom: 15px;
  display: block;
  text-align: center;
  font-size: var(--secondary-font-size);
  font-weight: 400;
  color: #6260f3;
}

.form__element a:hover {
  text-decoration: underline;
}

.movie-modal__overlay {
  z-index: 799;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  overflow: auto;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.movie-modal {
  position: absolute;
  width: 280px;
  top: 65%;
  left: 50%;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 48px 20px 41px;
}

.movie-modal__overlay--is-hidden .movie-modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

@media screen and (min-width: var(--tablet)) {
  .movie-modal {
    width: 618px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 30px;
    top: 50%;
  }
}

@media screen and (min-width: var(--desktop)) {
  .movie-modal {
    width: 882px;
    padding: 50px 30px 40px;
  }
}

.movie-modal__pic {
  width: 240px;
}

@media screen and (min-width: var(--tablet)) {
  .movie-modal__pic {
    width: 264px;
  }
}

@media screen and (min-width: var(--desktop)) {
  .movie-modal__pic {
    width: 396px;
  }
}

.movie-modal__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 18px;
  width: 18px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.movie-modal__btn-close--icon {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.movie-modal__desc {
  margin-top: 30px;
}

@media screen and (min-width: var(--tablet)) {
  .movie-modal__desc {
    margin-top: 0;
    margin-left: 32px;
  }
}

.movie-modal__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--primary-text-color);
}

@media screen and (min-width: var(--desktop)) {
  .movie-modal__title {
    font-size: 30px;
    line-height: 1.16;
  }
}

.movie-modal__title--about {
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 10px;
}

.movie-modal__info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}

.movie-modal__info-item:not(:last-child) {
  margin-bottom: 10px;
}

.movie-modal__span {
  color: #000;
}

.movie-modal__span--vote {
  margin-left: 41px;
  padding: 1px 10px;
  background-color: var(--hover-accent-bg-color);
  color: #fff;
  border-radius: 5px;
  line-height: 1.16;
}

.movie-modal__span--slash {
  color: #8c8c8c;
}

.movie-modal__span--votes {
  padding: 1px 10px;
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
  color: #000;
  line-height: 1.16;
}

.movie-modal__span--popularity {
  margin-left: 53px;
  line-height: 1.16;
}

.movie-modal__span--original-title {
  margin-left: 39px;
  text-transform: uppercase;
}

.movie-modal__span--genre {
  margin-left: 74.5px;
}

.movie-modal__span--date {
  margin-left: 38.5px;
}

.movie-modal__about {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--primary-text-color);
}

.movie-modal__about-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}

@media screen and (min-width: var(--tablet)) {
  .movie-modal__about-text {
    width: 264px;
  }
}

@media screen and (min-width: var(--desktop)) {
  .movie-modal__about-text {
    width: 396px;
  }
}

.movie-modal__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: var(--desktop)) {
  .movie-modal__btns {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.movie-modal__btn-add {
  height: 44px;
  width: 113px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.movie-modal__btn-add:hover, .movie-modal__btn-add:focus {
  background-color: var(--hover-accent-bg-color);
  color: #fff;
  border: none;
}

@media screen and (min-width: var(--tablet)) {
  .movie-modal__btn-add {
    width: 125px;
  }
}

@media screen and (min-width: var(--desktop)) {
  .movie-modal__btn-add:not(:last-child) {
    margin-right: 15px;
  }
}

.tui-pagination {
  margin-top: 50px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-arrow {
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}

.btn-arrow:hover {
  color: var(--accent-text-color);
  background-color: #101010;
}

.btn-arrow a {
  display: block;
  width: 200px;
  background-color: transparent;
  font-weight: 400;
  padding: 50px;
}

.container__search {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container__search {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container__search {
    padding-left: 71px;
    padding-right: 71px;
  }
}

@media screen and (min-width: 320px) {
  .container__search {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container__search {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container__search {
    width: 1024px;
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery-list {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .gallery-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .gallery-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .plug {
    display: none;
  }
}

.gallery-item {
  -webkit-box-shadow: 2px 1px 4px 2px #00000033;
          box-shadow: 2px 1px 4px 2px #00000033;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: both;
          animation: both;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.9ss;
          animation-delay: 0.9ss;
}

.gallery-item:not(:last-child) {
  margin-bottom: 20px;
}

.gallery-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .gallery-item {
    -webkit-box-shadow: 2px 1px 4px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 1px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-animation: zoomIn;
            animation: zoomIn;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-delay: 0.9ss;
            animation-delay: 0.9ss;
  }
  .gallery-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .gallery-item:nth-child(-n + 18) {
    margin-bottom: 30px;
  }
  .gallery-item:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media screen and (min-width: 1024px) {
  .gallery-item {
    -webkit-box-shadow: 2px 1px 4px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 1px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-right: 30px;
    margin-bottom: 30px;
    -webkit-animation: zoomIn;
            animation: zoomIn;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-delay: 0.9ss;
            animation-delay: 0.9ss;
  }
  .gallery-item:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media screen and (min-width: 1024px) {
  .gallery-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .gallery-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.comma:last-child {
  display: none;
}

.plug {
  width: 274px;
  height: 470px;
}

.plug-container {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  border: solid 5px #ff6b08;
}

.film-img {
  width: 280px;
  height: 402px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .film-img {
    width: 294px;
    height: 398px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  .film-img {
    width: 274px;
    height: 398px;
    cursor: pointer;
  }
}

.film-info {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 5px;
}

@media screen and (min-width: 768px) {
  .film-info {
    width: 294px;
    margin-bottom: 30px;
    padding-left: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .film-info {
    width: 274px;
    margin-bottom: 30px;
    padding-left: 5px;
  }
}

.film-title-dark {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.film-title {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

.film-text {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ff6b01;
}

.rait {
  width: 36px;
  height: 16px;
  padding: 1px 10px;
  margin-left: 8px;
  border-radius: 5px;
  background: #ff6b01;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.light-theme {
  background-color: var(--primary-bg-color);
  color: var(--thirty-text-color);
}

.dark-theme {
  background-color: var(--thirty-text-color);
  color: var(--primary-bg-color);
}

.dark-theme_footer {
  background-color: #1f1f1f;
  color: var(--primary-bg-color);
}

.theme-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.theme-switch__icon {
  color: currentColor;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  width: 48px;
  height: 24px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: var(--secondary-bg-color);
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  background-color: var(--accent-bg-color);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle :active + .theme-switch__track {
  -webkit-box-shadow: 0 0 0 3px var(--accent-bg-color);
          box-shadow: 0 0 0 3px var(--accent-bg-color);
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: var(--thirty-text-color);
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: var(--primary-bg-color);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  -webkit-transition: -webkit-transform 250ms var(--primary-animation);
  transition: -webkit-transform 250ms var(--primary-animation);
  transition: transform 250ms var(--primary-animation);
  transition: transform 250ms var(--primary-animation), -webkit-transform 250ms var(--primary-animation);
}

:root {
  --primary-font-family: 'Roboto', sans-serif;
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
  --orange-color: #ff6b08;
  --primary-text-color: #000;
  --secondary-text-color: #fff;
  --thirty-text-color: #545454;
  --accent-text-color: #ff6b08;
  --warning-text-color: #ff001b;
  --overlay-bg-color: rgba(0, 0, 0, 0.56);
  --primary-bg-color: #fff;
  --secondary-bg-color: #f7f7f7;
  --accent-bg-color: #ff6b08;
  --hover-accent-bg-color: #ff6b01;
  --error-color: #ff001b;
  --overlay-orange:#ff6b08bd;
  --team-block:rgb(6, 0, 56);
  --team-back:rgba(0, 0, 0, 0.911);
  --primary-animation: cubic-bezier(0.4, 0, 0.2, 1);
  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1024px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.body {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  background-color: var(--primary-bg-color);
}

.wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 320px) {
  .wrapper {
    min-width: 320px;
    max-width: 767px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    min-width: 768px;
    padding: 0 75px;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 1024px;
    padding: 0 71px;
  }
}

@media screen and (min-width: 768px) {
  .main .wrapper {
    padding: 0 76px;
  }
}

@media screen and (max-width: 767px) {
  .main .wrapper {
    padding: 0;
  }
}

.visualy-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --primary-font-family: 'Roboto', sans-serif;
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
  --orange-color: #ff6b08;
  --primary-text-color: #000;
  --secondary-text-color: #fff;
  --thirty-text-color: #545454;
  --accent-text-color: #ff6b08;
  --warning-text-color: #ff001b;
  --overlay-bg-color: rgba(0, 0, 0, 0.56);
  --primary-bg-color: #fff;
  --secondary-bg-color: #f7f7f7;
  --accent-bg-color: #ff6b08;
  --hover-accent-bg-color: #ff6b01;
  --error-color: #ff001b;
  --overlay-orange:#ff6b08bd;
  --team-block:rgb(6, 0, 56);
  --team-back:rgba(0, 0, 0, 0.911);
  --primary-animation: cubic-bezier(0.4, 0, 0.2, 1);
  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1024px;
}
/*# sourceMappingURL=main.css.map */