
<footer class="header">
    <div class="wrapper footer__cover">
        <ul class="copyright__list">
            <li class="copyright__item">&copy 2022</li>
            <li class="copyright__item">All Rights Reserved</li>
        </ul>
        <p class="devs-text__cover">
            Developed with
            <svg class="dev__icon" width="14px" height="12px">
                <use href="./images/header-images/heart.svg#icon-heart"></use>
            </svg>
            by
            <span class="devs__btn">SmollDee</span>
        </p>
    </div>
</footer>
