@import '../utils/functions';

.movie-modal__overlay {
    z-index: 799;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 1;
    overflow: auto;
    @include animated(opacity);
  }
  
  .movie-modal {
    position: absolute;
    width: 280px;
    top: 65%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%) scale(1);
    @include animated(transform);
    padding: 48px 20px 41px;
  
    .movie-modal__overlay--is-hidden & {
      transform: translate(-50%, -50%) scale(1.1);
    }
  
    @media screen and (min-width: var(--tablet)) {
      width: 618px;
      display: flex;
      padding: 40px 30px;
      top: 50%;
    }
  
    @media screen and (min-width: var(--desktop)) {
      width: 882px;
      padding: 50px 30px 40px;
    }
  }
  
  .movie-modal__pic {
    width: 240px;
  
    @media screen and (min-width: var(--tablet)) {
      width: 264px;
    }
  
    @media screen and (min-width: var(--desktop)) {
      width: 396px;
    }
  }
  
  .movie-modal__btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 18px;
    width: 18px;
    border: none;
    background-color: #fff;
    cursor: pointer;
  
    &--icon {
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    // &::before {
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   -webkit-transform: translate(-50%, -50%);
    //   transform: translate(-50%, -50%);
    //   content: '';
    //   display: inline-block;
    //   width: 11px;
    //   height: 11px;
    //   background-image: url();
    //   background-repeat: no-repeat;
    // }
  }
  
  .movie-modal__desc {
    margin-top: 30px;
  
    @media screen and (min-width: var(--tablet)) {
      margin-top: 0;
      margin-left: 32px;
    }
  }
  
  .movie-modal__title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--primary-text-color);
  
    @media screen and (min-width: var(--desktop)) {
      font-size: 30px;
      line-height: 1.16;
    }
  
    &--about {
      font-size: 12px;
      line-height: 1.33;
      margin-bottom: 10px;
    }
  }
  
  .movie-modal__info {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #8c8c8c;
  }
  
  .movie-modal__info-item:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .movie-modal__span {
    color: #000;
  
    &--vote {
      margin-left: 41px;
      padding: 1px 10px;
      background-color: var(--hover-accent-bg-color);
      color: #fff;
      border-radius: 5px;
      line-height: 1.16;
    }
  
    &--slash {
      color: #8c8c8c;
    }
  
    &--votes {
      padding: 1px 10px;
      background-color: var(--secondary-bg-color);
      border-radius: 5px;
      color: #000;
      line-height: 1.16;
    }
  
    &--popularity {
      margin-left: 53px;
      line-height: 1.16;
    }
  
    &--original-title {
      margin-left: 39px;
      text-transform: uppercase;
    }
  
    &--genre {
      margin-left: 74.5px;
    }
  
    &--date {
      margin-left: 38.5px;
    }
  }
  
  .movie-modal__about {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--primary-text-color);
  }
  
  .movie-modal__about-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
  
    @media screen and (min-width: var(--tablet)) {
      width: 264px;
    }
  
    @media screen and (min-width: var(--desktop)) {
      width: 396px;
    }
  }
  
  .movie-modal__btns {
    display: flex;
    justify-content: space-between;
  
    @media screen and (min-width: var(--desktop)) {
      justify-content: start;
    }
  }
  
  .movie-modal__btn-add {
    height: 44px;
    width: 113px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    cursor: pointer;
    @include tripleAnimtaion(background-color, color, border);
  
    &:hover,
    &:focus {
      background-color: var(--hover-accent-bg-color);
      color: #fff;
      border: none;
    }
  
    @media screen and (min-width: var(--tablet)) {
      width: 125px;
    }
  
    @media screen and (min-width: var(--desktop)) {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
  